
#app-container {
    text-align: center;
}

.controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #0056b3;
}

#boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 600px;
    margin-top: 20px;
    gap: 10px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: blue;
    animation: moveRight 1s linear infinite;
}
.metrics {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: inline-block;
}

.metrics p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.metrics strong {
    color: #007bff;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}